[submodule "pack/plugins/start/vim-terraform"]
	path = pack/plugins/start/vim-terraform
	url = https://github.com/hashivim/vim-terraform.git
[submodule "pack/plugins/start/vim-gitgutter"]
	path = pack/plugins/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "pack/plugins/syntastic"]
	path = pack/plugins/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "pack/plugins/start/nerdtree"]
	path = pack/plugins/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "pack/plugins/start/syntastic"]
	path = pack/plugins/start/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "pack/plugins/start/vim-devicons"]
	path = pack/plugins/start/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons
[submodule "pack/tbartelmess/start/vim-fugitive"]
	path = pack/tbartelmess/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "pack/tbartelmess/start/vim-hclfmt"]
	path = pack/tbartelmess/start/vim-hclfmt
	url = https://github.com/fatih/vim-hclfmt.git
[submodule "pack/tbartelmess/start/vim-hashicorp-tools"]
	path = pack/tbartelmess/start/vim-hashicorp-tools
	url = https://github.com/hashivim/vim-hashicorp-tools.git
